<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<th:block th:fragment="hearFragment">
    <div class="row m-0 p-0 w-100">
        <div class="col-1">
            <button type="button" id="sidebarCollapse" class="btn btn-info justify-content-start">
                <i class="fas fa-align-left"></i>
            </button>
        </div>
        <div class="col-11 text-center">
            <p style="font-family: 'Nanum Myeongjo', serif;"
               class="h1  d-inline mr-lg-5 mr-md-5 mr-xl-5">SJ BLOG</p>
        </div>

    </div>
    <div class="row">
        <div class="col" style="height: 200px"></div>
    </div>

</th:block>
</html>