/**
 *packageName    : static.css
 * fileName       : myCss
 * author         : ipeac
 * date           : 2022-05-12
 * description    :
 * ===========================================================
 * DATE              AUTHOR             NOTE
 * -----------------------------------------------------------
 * 2022-05-12        ipeac       최초 생성
 */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

#menu_css_custom > *,
#menu_css_custom > *::before,
#menu_css_custom > *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#menu_css_custom > body {
    font-family: "Quicksand", sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
    background: #7f7fd5;
    background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}

#menu_css_custom > .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;
}

#menu_css_custom > img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

#menu_css_custom > .card {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}


#menu_css_custom > .card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


#menu_css_custom > .tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
}

#menu_css_custom > .tag + .tag {
    margin-left: .5em;
}

#menu_css_custom > .tag-blue {
    background: #56CCF2;
    background: linear-gradient(to bottom, #2F80ED, #56CCF2);
    color: #fafafa;
}

#menu_css_custom > .tag-brown {
    background: #D1913C;
    background: linear-gradient(to bottom, #FFD194, #D1913C);
    color: #fafafa;
}

#menu_css_custom > .tag-red {
    background: #cb2d3e;
    background: linear-gradient(to bottom, #ef473a, #cb2d3e);
    color: #fafafa;
}

#menu_css_custom > .card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

#menu_css_custom > .card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
}

#menu_css_custom > .user {
    display: flex;
    gap: .5rem;
}

#menu_css_custom > .user__image {
    border-radius: 50%;
}

#menu_css_custom > .user__info > small {
    color: #666;
}