<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="ko">

<th:block th:replace="fragments/head :: headFragment"/>
<link href="/static/css/write.css?after" type="text/css"/>
<body>
    <div class="wrapper">
        <th:block th:replace="fragments/sidebar :: sideBarFragment"/>
        <!--Custom Css-->
        <!-- Page Content  -->
        <div id="content" class="text-center">
            <th:block th:replace="fragments/header :: headerFragment"/>
            <form th:action="@{/blog-article/write}" th:method="post">
                <!--제목-->
                <div class="row">
                    <div class="col-2"></div>
                    
                    <div id="title" class="input-group input-group-lg mb-4 col">
                        <input id="title_content" type="text" name="article_title" required
                               placeholder="제목을 입력해주세요"
                               class="form-control border border-black text-dark "
                               aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-lg"/>
                    </div>
                    <div class="col-2"></div>
                
                </div>
                <!--카테고리-->
                <div class="row mb-5">
                    <div class="col-2" th:field="*{category_list}">
                        <label for="category"></label>
                        <select name="category_no" id="category" class="form-select form-select-lg mb-3"
                                aria-label=".form-select-lg example">
                            <option th:each="category : ${category_list}" th:value="${category.key}"
                                    th:text="${category.value}"></option>
                        </select>
                    </div>
                    <div class="col-10"></div>
                </div>
                <!--에디터-->
                <div class="row">
                    <div id="editor"></div>
                    <label for="article_content"></label>
                    <textarea id="article_content" name="article_content" class="invisible"></textarea>
                </div>
                <!--글쓰기-->
                <div class="row">
                    <div class="col-10"></div>
                    <div class="col-2">
                        <button id="write_btn" type="submit" class="btn btn-primary">글쓰기</button>
                    </div>
                </div>
            </form>
        
        </div>
    
    
    </div>
    
    <th:block th:replace="fragments/footer::footerFragment"/>
    <script th:inline="javascript">
        
        
        $(document).ready(function () {
            function isEmpty(el) {
                return !$.trim(el.html())
            }
            
            
            $(`#write_btn`).on('click', function (e) {
                
                if (isEmpty($('.toastui-editor-contents'))) {
                    Swal.fire({
                        icon: 'error',
                        title: '빈 내용',
                        text: '글 내용은 채우고 보내야지 임마',
                    });
                    e.preventDefault();
                    return false;
                    
                }
                
                
            });
        });
    </script>
    <script type="text/javascript" src="/static/js/wrtie.js"></script>
</body>

</html>